<div>
    <div class="h-24 bg-gray-200 w-full flex justify-between px-48 items-center shadow-sm ">
        <div class=" h-14 cursor-pointer uppercase text-2xl font-bold ">stand blog<span class="text-red-400 text-4xl ">.</span></div>
        <div class="flex space-x-12 uppercase text-lg font-semibold items-center">
            <div class="text-red-500  cursor-pointer font-bold text-base">home</div>
            <div class="hover:text-red-500  cursor-pointer font-bold text-base">about us</div>
            <div class="hover:text-red-500  cursor-pointer font-bold text-base">blog entries</div>
            <div class="hover:text-red-500  cursor-pointer font-bold text-base">post details</div>
            <div class="hover:text-red-500 cursor-pointer font-bold text-base">contact us</div>
        </div>
 
    </div>
</div>